
<h1>ProductList</h1>
<div class="container ">
    <div class="row" >
        <div class="col "*ngFor="let prod of list1" >
            <div class="card">
                <img height="200px" [src]="prod.imageUrl" class="card-img-top responsive" alt="...">
                <div class="card-body">
                    <h3 class="card-text">{{prod.name}}</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ManufacturedDate:{{prod.manufacturedDate | date}}</li>
                    <li class="list-group-item">Category:{{prod.category.name}}</li>
                    <li class="list-group-item">Price:{{prod.price | currency:'INR'}}</li>
                </ul>
                <div class="card-body">
                    <div class="row">
                        <div class="col ">
                            <button style="width:40%;margin-left:4%;margin-right:4%"
                                class="btn btn-primary" [routerLink]="['/Product/edit/',prod.id]">Edit</button> |

                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" 
                            (click)="setProductId(prod.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you Sure You Want to Delete the Product ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger " data-bs-dismiss="modal" (click)="delete()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>